<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902174519201-p6qheisls8rdspb499cjl73usktc2d51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902174519201-p6qheisls8rdspb499cjl73usktc2d51</string>
	<key>API_KEY</key>
	<string>AIzaSyC9EiZ09hkMjXqgyocE4vcZUGKMy-hM6rI</string>
	<key>GCM_SENDER_ID</key>
	<string>902174519201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.advicts.greenvillage</string>
	<key>PROJECT_ID</key>
	<string>greenvillage-a5580</string>
	<key>STORAGE_BUCKET</key>
	<string>greenvillage-a5580.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902174519201:ios:f663469e9acf1af5f1e5e0</string>
</dict>
</plist>